In [1]:
import pandas as pd
import numpy as np
from pandas_datareader import data as pdr
import datetime as dt
import yfinance as yf

In [3]:
stocks = ['AAPL','GOLD']
start = dt.datetime(2016, 10, 1)
end = dt.datetime(2021, 11, 1)
yf.pdr_override()
df = pdr.get_data_yahoo(stocks, start, end )

[*********************100%***********************]  2 of 2 completed

In [4]:
df.head(3)

            Adj Close                 Close                  High             \
                 AAPL       GOLD       AAPL       GOLD       AAPL       GOLD
Date
2016-10-03  26.012224  15.070419  28.129999  17.389999  28.262501  17.870001
2016-10-04  26.123190  13.389186  28.250000  15.450000  28.577499  16.770000
2016-10-05  26.134750  13.848495  28.262501  15.980000  28.415001  16.030001

                  Low              Open                Volume
                 AAPL   GOLD       AAPL       GOLD       AAPL      GOLD
Date
2016-10-03  28.070000  17.25  28.177500  17.700001   86807200  10308400
2016-10-04  28.157499  15.39  28.264999  16.750000  118947200  37042200
2016-10-05  28.172501  15.53  28.350000  15.800000   85812400  17985500

In [6]:
df.index

DatetimeIndex(['2016-10-03', '2016-10-04', '2016-10-05', '2016-10-06',
               '2016-10-07', '2016-10-10', '2016-10-11', '2016-10-12',
               '2016-10-13', '2016-10-14',
               ...
               '2021-10-18', '2021-10-19', '2021-10-20', '2021-10-21',
               '2021-10-22', '2021-10-25', '2021-10-26', '2021-10-27',
               '2021-10-28', '2021-10-29'],
              dtype='datetime64[ns]', name='Date', length=1279, freq=None)